<div class="navbar">
  <div class="navbarName">
    <a href="/"> <i style="padding-right: 5px; font-size: 20px;" class="fas fa-brain"></i> AnswerSeek</a>
  </div>

    <form class="navbarSearch" method="GET" action="{% url 'searchPost' %}">
      <input name="qr" placeholder="Search" required>
      <button type="submit">Search</button>
    </form>

  <div class="navbarAuth">
    {% if user.is_authenticated %}
      <div style="color: #fff;">{{user}}</div>
      <a href="{% url 'signout' %}">sign out</a>
    {% else %}
      <a href="{% url 'signin' %}">login</a>
      <a href="{% url 'signup' %}">sign up</a>
    {% endif %}
      <a class="askBtn" href="{% url 'post' %}">Ask Question?</a>
  </div>
</div>


       