{% extends 'base.html' %}

{% block content %}
<div class="postWriteBody">
        <div class="logo"> <i style="padding-right: 15px;" class="fas fa-brain"></i> AnswerSeek</div>

        {% if user.is_authenticated %}
          <form class="posting__form" method="POST" action="{% url 'postDone' %}" enctype="multipart/form-data">
              {% csrf_token %}

            <div>
                    <label for="question">Your Question</label>
                    <input name="question" type="text" id="question" placeholder="Enter your Question" required>
            </div>
            <div>
                    <label for="answer">Your Opinion (must)</label>
                    <textarea name="answer" type="text" id="answer" rows="6" placeholder="Answer if you want" required></textarea>
            </div>
            <button type="submit">Post</button>
          </form>
          {% else %}
                <a href="{% url 'signin' %}" style="margin: 20px 0;" class="btn btn-dark btn sm">go to login </a>
          {% endif %}
</div>
{% endblock %}